@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');


body {
  font-family: 'Bree Serif', serif;
  background-color: #fabf67;
}

.innTitle, .innTitleEditable {
  font-size: 32px;
  background: none;
  border: none;
  padding: 10px;
  font-family: 'Bree Serif', serif;
  color: #7c1d1d;
  font-weight: 700;
}
.innTitleEditable {
  text-decoration: underline;
}
button {
  font-family: 'Bree Serif', serif;
  padding: 5px;
  border-radius: 5px;
}