@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');


body {
  font-family: 'Bree Serif', serif;
  background-color: #dffa67;
}

.innTitle, .innTitleEditable {
  font-size: 32;
  background: none;
  border: none;
  padding: 10px;
  font-family: 'Bree Serif', serif;
  color: blue;
  font-weight: 700;
}
.innTitleEditable {
  text-decoration: underline;
}
.energyBar {
}